#aeroplane {
  position: absolute;
  background-repeat: no-repeat;
  width: 150px;
  height: 70px;
  margin-left: 66%;
  top: 80%;
  animation: movingairplane 10s linear;
}

@keyframes movingairplane {
  0% {
    margin-left: 0%;
    top: 50%;
    transform: rotate(30deg);
  }
  33% {
    margin-left: 33%;
    top: 70%;
    transform: rotate(10deg);
  }
  66% {
    margin-left: 66%;
    top: 80%;
    transform: rotate(0deg);
  }
  100% {
    margin-left: 66%;
    top: 80%;
  }
}
